name: Build & Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        os: [ubuntu-latest, macos-14, windows-2025]
        # We only test Node 22 on macOS and Windows to reduce CI usage.
        # This exclude config tells GitHub to skip the items in the matrix that run on macOS or
        # Windows and use one of the older Node versions.
        exclude:
          - os: macos-14
            node-version: 22
          - os: windows-2025
            node-version: 22
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node v${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
